body { font-family: 'Raleway', sans-serif; font-size: 14px; color: #fff; margin: 0; }

h1, h2, h3, h4, a { color: #fff; }

.color-red { color: #cd0258; }

.color-blue { color: #0093fd; }

.color-white { color: #fff; }

.navbar-default { background-color: #006ac7; border: 0; margin-bottom: 0; min-height: 45px; }
.navbar-default .container-fluid { max-width: 1080px; }
.navbar-default .container-fluid .navbar-brand { max-width: 250px; margin-left: 5px; height: auto; padding: 0; margin-top: 9px; }
.navbar-default .container-fluid .navbar-brand > img { width: 100%; max-width: 31px; float: left; }
.navbar-default .container-fluid .navbar-brand span { text-transform: uppercase; font-weight: 900; white-space: nowrap; color: #fff; float: left; display: inline-block; padding-top: 6px; letter-spacing: -0.11px; font-size: 16px; }
.navbar-default .navbar-nav > li > a { color: #fff; font-weight: 900; padding: 11px 13px 12px 9px; font-size: 14px; letter-spacing: 0.9px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus { color: #eeeeee; }
.navbar-default .navbar-nav > li.gly-icon > a { padding: 12px 13px; font-size: 16px; }
.navbar-default .navbar-nav > li.gly-icon.menu-hamburger a { background: #011f41; padding: 12px 14px; }

.carousel-control.right, .carousel-control.left { background-image: none; }

.carousel-caption { right: 15%; left: 15%; }
.carousel-caption ul { width: 100%; float: left; width: 100%; max-width: 1087px; float: none; margin: auto; }
.carousel-caption ul li { width: 30.266789%; display: inline-block; margin-left: 4.59981%; }
.carousel-caption ul li:first-child { margin-left: 0; }
.carousel-caption ul li a { background-color: #092340; font-weight: 900; padding: 18px 10px; font-size: 2em; letter-spacing: 1px; }

.block-title { text-transform: uppercase; padding-bottom: 30px; position: relative; margin-bottom: 20px; }
.block-title:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 100px; height: 8px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); background: #0093fd; }
.block-title h2, .block-title span { font-weight: 900; }
.block-title span { font-size: 56px; line-height: .7em; }
.block-title .color-red { margin-bottom: 10px; }

.block-2 { padding: 0; }
.block-2 img { width: 100%; max-width: 100%; }
.block-2 .block-child { position: absolute; left: 13%; top: 50%; -webkit-transform: translateY(-69%); -moz-transform: translateY(-69%); -ms-transform: translateY(-69%); -o-transform: translateY(-69%); transform: translateY(-69%); max-width: 600px; }
.block-2 .block-title { max-width: 600px; display: block; overflow: hidden; }
.block-2 .block-title .color-red { text-align: center; }
.block-2 .block-title .color-white { float: right; }
.block-2 .button { background-color: #0093fd; color: #000; padding: 10px 20px; }

/*# sourceMappingURL=styles.css.map */
