.box-shadow, .logo-design:after { content: ''; position: absolute; top: 23px; left: 33px; width: 0px; height: 0px; display: block; -webkit-box-shadow: 0px 0px 201px 71px #cd0258; -moz-box-shadow: 0px 0px 201px 71px #cd0258; box-shadow: 0px 0px 80px 30px #cd0258; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

body { font-family: 'Raleway', sans-serif; font-size: 14px; color: #fff; margin: 0; }

h1, h2, h3, h4, a { color: #fff; }

input, .form-control { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.color-red { color: #cd0258; }

.color-blue { color: #0093fd; }

.color-white { color: #fff; }

.button { color: #000; text-transform: uppercase; font-weight: 900; line-height: 2em; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.button:hover { text-decoration: none; color: #011f41; }
.button.bg-red { background-color: #cd0258; }

@media (min-width: 1200px) { .container { padding: 50px 10px 140px; } }
.navbar-default { background-color: #006ac7; border: 0; margin-bottom: 0; min-height: 33px; border-bottom: 1px solid #011f41; }
.navbar-default .container-fluid { max-width: 944px; }
.navbar-default .container-fluid .navbar-brand { max-width: 250px; margin-left: 5px; height: auto; padding: 0; margin-top: 9px; }
.navbar-default .container-fluid .navbar-brand > img { width: 100%; max-width: 25px; float: left; }
.navbar-default .container-fluid .navbar-brand span { text-transform: uppercase; font-weight: 900; white-space: nowrap; color: #fff; float: left; display: inline-block; padding-top: 3px; letter-spacing: -0.4px; font-size: 14px; padding-left: 1px; }
.navbar-default .navbar-nav { padding-right: 29px; }
.navbar-default .navbar-nav > li > a { color: #fff; font-weight: 900; padding: 9px 11px 5px 9px; font-size: 12px; letter-spacing: 0.4px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus { color: #eeeeee; }
.navbar-default .navbar-nav > li.gly-icon > a { padding: 10px 13px; font-size: 11px; }
.navbar-default .navbar-nav > li.gly-icon.menu-hamburger a { background: #011f41; padding: 9px 14px 11px; }

.carousel-control.left, .carousel-control.right { background-image: none; }

.carousel-header .carousel-caption { right: 15%; left: 15%; padding-bottom: 91px; }
.carousel-header .carousel-caption ul { width: 100%; float: left; width: 100%; max-width: 804px; float: none; margin: auto; padding-left: 32px; }
.carousel-header .carousel-caption ul li { width: 30.266789%; display: inline-block; margin-left: 4.59981%; }
.carousel-header .carousel-caption ul li:first-child { margin-left: 0; }
.carousel-header .carousel-caption ul li a { background-color: #092340; font-weight: 900; padding: 12px 5px; font-size: 24px; letter-spacing: 1px; }
.carousel-header .carousel-caption ul li a:hover { background-color: #092340; color: #eeeeee; }

.carousel-indicators { bottom: 2px; }
.carousel-indicators li { background-color: rgba(205, 2, 88, 0.5); border: 0; margin-right: 10px; }
.carousel-indicators .active { background-color: #cd0258; border: 0; width: 10px; height: 10px; margin: 1px 10px 1px 1px; }

.carousel .quote { font-size: 46px; font-weight: 100; color: #cd0258; margin-right: 27px; }
.carousel .carousel-control .glyphicon { top: 50%; position: absolute; transform: translateY(-50%); }

.block-title { text-transform: uppercase; padding-bottom: 38px; position: relative; margin-bottom: 20px; }
.block-title:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 75px; height: 4px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); background: #0093fd; }
.block-title h2, .block-title .sub-title { font-weight: 900; }
.block-title .sub-title { font-size: 49px; line-height: .7em; }
.block-title .color-red { margin-bottom: 10px; font-size: 24px; }
.block-title .color-blue { letter-spacing: -0.4px; font-size: 49px; }
.block-title .color-white { letter-spacing: -1.3px; }

.block { padding: 0; }
.block img { width: 100%; max-width: 100%; }
.block .block-child { position: absolute; left: 12.5%; top: 28%; max-width: 457px; }
.block .block-child .content p { margin-bottom: 32px; }
.block .block-title { max-width: 427px; display: block; overflow: hidden; }
.block.block-character .block-child { max-width: 465px; }
.block.block-character .block-title { max-width: 100%; margin-bottom: 0; }
.block.block-character .block-title .color-red { text-align: center; padding-right: 18px; padding-top: 10px; }
.block.block-character .block-title .color-white { float: right; }
.block.block-character .block-title:after { bottom: 17px; }
.block.block-character .content { max-width: 447px; letter-spacing: 0.4px; margin-left: -10px; padding-top: 6px; }
.block.block-character .content p { margin-bottom: 24px; }
.block.block-character .content .button { padding: 7px 17px 7px; }
.block .button { background-color: #0093fd; color: #000; padding: 7px 18px 6px; text-transform: uppercase; font-weight: 900; font-size: 11px; line-height: 2em; border: 0; }
.block .row { margin: 0; }
.block .block-content { margin: 0; padding: 0; position: relative; }
.block.block-game .block-title { margin-bottom: 2px; }
.block.block-game .block-title .color-white { line-height: .4em; }
.block.block-game .block-title:after { left: 0; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); width: 56px; bottom: 16px; }
.block.block-game .block-child { max-width: 568px; left: 10%; top: 15%; transform: translateY(0); font-weight: 300; font-size: 14px; letter-spacing: -0.4px; }
.block.block-game .block-child .content p { margin-bottom: 23px; }
.block.block-game .button { padding: 7px 22px 6px 22px; }

.block-animation .block-content .block-child { left: initial; right: 10%; top: 17%; }
.block-animation .block-content .block-child .block-title { max-width: 100%; padding-bottom: 28px; }
.block-animation .block-content .block-child .block-title .color-red { text-align: right; }
.block-animation .block-content .block-child .block-title .color-white { line-height: .7em; }
.block-animation .block-content .block-child .block-title:after { left: initial; right: 0; bottom: 12px; }
.block-animation .block-content .block-child .content { width: 100%; float: right; text-align: right; }
.block-animation .block-content .block-child .content p { margin-bottom: 28px; }

.logo-design { width: 69px; display: block; margin: auto; position: relative; height: 60px; }
.logo-design img { width: 100%; }
.logo-design.quality { width: 44px; }
.logo-design.quality:after { left: 24px; }
.logo-design.support { width: 62px; }

.block-content-2 .block-child { position: static; margin: auto; transform: initial; text-align: center; max-width: 100%; }
.block-content-2 .bg-red { background-color: #cd0258; margin: auto; letter-spacing: 0.2px; padding: 4px 6px 0px; }
.block-content-2 .bg-red:focus, .block-content-2 .bg-red:active { background-color: #cd0258; }
.block-content-2 .block-title { max-width: 100%; }
.block-content-2 .slide { margin-bottom: 30px; padding-bottom: 50px; }

.block-case { background-image: url(../images/banner4.png); -webkit-background-size: cover; background-size: cover; }
.block-case .row img { width: 100%; }
.block-case .block-title { max-width: 188px; margin: 24px auto 45px; overflow: initial; }
.block-case .block-title .color-white { font-size: 72px; margin-left: -18px; }
.block-case .block-title .color-blue { font-size: 24px; margin-top: -4px; letter-spacing: 0.1px; margin-left: -12px; }
.block-case .block-title:before { content: '&'; position: absolute; left: -72px; top: -36px; font-size: 102px; font-weight: 900; color: #cd0258; }
.block-case .block-title:after { bottom: 16px; left: 34%; width: 88px; height: 4px; }
.block-case .row { margin: 0; }
.block-case .row .project-info { padding: 0; width: 30.1739%; margin-left: 4.6956%; }
.block-case .row .project-info:first-child { margin-left: 0; }

.project-info .thumbnail { position: relative; padding: 0; border: none; border-radius: 0; background-color: transparent; margin-bottom: 44px; }
.project-info .thumbnail .info-action { background-color: rgba(1, 31, 65, 0.7); position: absolute; bottom: 0; left: 0; width: 100%; padding: 7px 11px; }
.project-info .thumbnail .info-action p { margin-bottom: 5px; font-size: 12px; margin-top: 0; font-weight: 100; letter-spacing: -0.3px; }
.project-info .thumbnail .title { font-weight: 900; font-size: 26px; }
.project-info .thumbnail .button { padding: 6px 5px 5px; line-height: 1.2em; font-size: 9px; position: absolute; border: 0; bottom: 8px; right: 13px; }

.block-design { background-image: url(../images/bg-5.png); -webkit-background-size: cover; background-size: cover; }
.block-design .container { padding-top: 59px; padding-bottom: 117px; }
.block-design .container .row p { max-width: 654px; margin: auto; font-size: 13px; margin-top: 4px; line-height: 21px; }
.block-design .block-title .color-blue { font-size: 38px; letter-spacing: 2.3px; }
.block-design .block-title .color-white { font-size: 59px; margin-top: 20px; letter-spacing: 2.2px; }
.block-design .block-title:after { bottom: 7px; left: 49.7%; width: 107px; height: 4px; }
.block-design .block-top { margin-top: 50px; }
.block-design div h3 { margin-top: 13px; font-size: 19px; font-weight: 900; letter-spacing: 1px; }

.block-bottom { background-image: url(../images/bg-client.png); -webkit-background-size: cover; background-size: cover; }
.block-bottom .block-client { background-color: rgba(1, 31, 65, 0.6); }
.block-bottom .block-client .block-title { padding-bottom: 15px; margin-bottom: 15px; }
.block-bottom .block-client .block-title .color-white { font-size: 41px; }
.block-bottom .block-client .block-title .color-blue { font-size: 62px; line-height: 0.8em; }
.block-bottom .block-client .block-title:after { width: 107px; }

.block-contact .row { margin-left: -15px; margin-right: -15px; }

.heart { width: 44px; height: 44px; background-image: url(../images/heart.png); background-size: contain; display: inline-block; background-repeat: no-repeat; position: relative; margin: 6px 10px 0 20px; }
.heart:after { content: ''; position: absolute; top: 20px; left: 27px; width: 0px; height: 0px; display: block; -webkit-box-shadow: 0px 0px 201px 71px #cd0258; -moz-box-shadow: 0px 0px 201px 71px #cd0258; box-shadow: 0px 0px 50px 20px #cd0258; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

#myCarousel2 .carousel-inner { max-width: 693px; margin: auto; display: block; }
#myCarousel2 .carousel-inner p { font-weight: 200; line-height: 29px; font-size: 16px; padding-left: 20px; }
#myCarousel2 .carousel-inner .item { padding-top: 15px; }
#myCarousel2 .carousel-inner .quote { position: absolute; left: 0; top: 0; }
#myCarousel2 .carousel-inner .small { font-size: 11px; margin-top: -21px; }

#myCarousel3 { margin-bottom: 0; padding-bottom: 0; }
#myCarousel3 .carousel-inner ul { width: 100%; float: none; display: block; max-width: 980px; margin: auto; }
#myCarousel3 .carousel-inner ul li { width: 20%; float: left; padding: 0 35px; }

.block-contact .container { max-width: 1080px; }
.block-contact ::-webkit-input-placeholder { color: #fff; }
.block-contact :-moz-placeholder { color: #fff; }
.block-contact ::-moz-placeholder { color: #fff; }
.block-contact :-ms-input-placeholder { color: #fff; }
.block-contact .slideanim { background-color: rgba(0, 106, 199, 0.5); padding: 32px 24px 8px; }
.block-contact .contact-info { margin-top: 40px; }
.block-contact .contact-info .contact-info-col1 { padding-right: 11%; text-align: right; padding-top: 17px; }
.block-contact .contact-info .contact-info-col1 .label { font-size: 24px; font-weight: 900; padding-left: 0; padding-right: 0; }
.block-contact .contact-info .contact-info-col1 p { padding-bottom: 40px; padding-top: 5px; font-weight: 300; }
.block-contact .contact-info .bg-red { padding: 5px 24px; color: #fff; -webkit-box-shadow: 0px 0px 50px 5px #cd0258; -moz-box-shadow: 0px 0px 50px 5px #cd0258; box-shadow: 0px 0px 50px 5px #cd0258; margin: auto; display: block; font-size: 14px; margin-top: 6px; }
.block-contact .color-blue { font-size: 43px; margin-top: 44px; }
.block-contact .color-white { font-size: 70px; line-height: .8em; font-weight: 900; }
.block-contact .form-control { background-color: transparent; color: #fff; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.block-contact input.form-control { border-top: 0; border-right: 0; border-left: 0; }
.block-contact .block-title { margin-bottom: 30px; padding-bottom: 23px; }
.block-contact .block-title:after { width: 105px; }

/*# sourceMappingURL=styles.css.map */
