$color-white: #fff;
$color-black: #000;
$color-blue: #006ac7;
$color-blue-light:#0094ff;
$color-blue-light1: #0093fd;
$color-blue-dark:#011f41;
$color-red: #cd0258;

body{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  color: $color-white;
  margin: 0;
}
h1, h2, h3, h4, a {
  color: $color-white;
}
.color-red{
  color: $color-red;
}
.color-blue{
  color: $color-blue-light1;
}
.color-white{
  color: $color-white;
}
.navbar-default{
  background-color: $color-blue;
  border: 0;
  margin-bottom: 0;
  min-height: 45px;
  .container-fluid {
    max-width: 1080px;
    .navbar-brand{
      max-width: 250px;
      margin-left: 5px;
      height: auto;
      padding: 0;
      margin-top: 9px;
      > img {
        width: 100%;
        max-width: 31px;
        float: left;
      }
      span{
        text-transform: uppercase;
        font-weight:900;
        white-space: nowrap;
        color: $color-white;
        float: left;
        display: inline-block;
        padding-top: 6px;
        letter-spacing: -0.11px;
        font-size: 16px;
      }
    }
  }

  .navbar-nav{
    > li {
      > a{
        color: $color-white;
        font-weight: 900;
        padding: 11px 13px 12px 9px;
        font-size: 14px;
        letter-spacing: 0.9px;
        &:hover, &:active, &:focus{
          color: #eeeeee;
        }
      }
      &.gly-icon{
        > a{
          padding: 12px 13px;
          font-size: 16px;
        }
        &.menu-hamburger{
          a{
            background: $color-blue-dark;
            padding: 12px 14px;
          }
        }
      }
    }
  }
}
.carousel-control.right, .carousel-control.left{
  background-image: none;
}
.carousel-caption{
  right: 15%;
  left: 15%;
  ul{
    width: 100%;
    float: left;
    width: 100%;
    max-width: 1087px;
    float: none;
    margin: auto;
    li{
      width: 30.266789%;
      display: inline-block;
      margin-left:4.59981%;
      &:first-child{
        margin-left: 0;
      }
      a{
        background-color: #092340;
        font-weight: 900;
        padding: 18px 10px;
        font-size: 2em;
        letter-spacing: 1px;
      }
    }
  }
}
.block-title{
  text-transform: uppercase;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 20px;
  &:after{
    content:'';
    position: absolute;
    bottom: 0;
    left:50%;
    width: 100px;
    height: 8px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: $color-blue-light1;
  }
  h2, span{
    font-weight: 900;
  }
  span{
    font-size: 56px;
    line-height: .7em;
  }
  .color-red{
    margin-bottom: 10px;
  }
}
.block-2 {
  padding: 0;
  img{
    width: 100%;
    max-width: 100%;
  }
  .block-child{
    position: absolute;
    left: 13%;
    top: 50%;
    -webkit-transform: translateY(-69%);
    -moz-transform: translateY(-69%);
    -ms-transform: translateY(-69%);
    -o-transform: translateY(-69%);
    transform: translateY(-69%);
    max-width: 600px;
  }
  .block-title{
    max-width: 600px;
    display: block;
    overflow: hidden;
    .color-red{
      text-align: center;
    }
    .color-white{
      float: right;
    }
  }
  &.block-character{

  }
  .button{
    background-color: $color-blue-light1;
    color: #000;
    padding:10px 20px;
  }
}
